<div class="left">
  <h4>Jobs by Interest</h4>
  <table class="centered">
      <tr>
        <th>Level of Interest</th>
        <th>Number of Jobs</th>
      </tr>
      <% @jobs.each do |interest, count| %>
      <tr class="level_<%= interest %>">
        <td><%= interest %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="right">
  <h4>Top 3 Companies</h4>
  <table>
    <tr>
      <th>Company</th>
      <th>Average Interest</th>
    </tr>
    <% @top_three_companies.each do |company| %>
      <tr>
        <td> <%= company.name %> </td>
        <td> <%= company.avg %></td>
      </tr>
    <% end %>
  </table>
</div>


